@import url(//fonts.googleapis.com/css?family=Lato:300:400);

@font-face {
    font-family: 'ValoFont';
    src: url('../fonts/Valorant-Font.ttf') format('opentype');
}

.name {
    gap: 3rem;
    align-items: center;
    display: flex;
}

.name a {
    margin-bottom: 30px;
}

.square-link {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-family: ValoFont, sans-serif;
    margin-top: 30px;
    display: inline-flex; /* Utilisation de flexbox */
    flex-direction: column; /* Empiler les éléments les uns sur les autres */
    align-items: center; /* Centrer les éléments horizontalement */
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 35px;
}

.square-link .text {
    line-height: 50px; /* Hauteur de ligne égale à la hauteur du carré pour centrer le texte verticalement */
}

.square-link svg {
    margin-top: 20px; /* Espacement entre le texte et le SVG */
}

.square-link img {
    width: 70%;
    margin-top: 20px; /* Espacement entre le texte et le SVG */
}

.square-link:last-child {
    margin-right: 0; /* Pour supprimer l'espacement à droite du dernier élément de chaque ligne */
}

body {
    background-color: #ffeef2;;
    margin:0;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight:500;
    letter-spacing: 2px;
    font-size:75px;
    text-align: center;
}

.favorites-container {
    background-color: rgba(0,0,0,0.07);
    padding: 10px;
    margin: 50px 50px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: 'ValoFont', sans-serif;
    font-weight:500;
    letter-spacing: 2px;
    font-size:100px;
}
p {
    font-family: 'ValoFont', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #333333;
}

.header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color:white;
}

#img-map {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.logo {
    width:50px;
    fill:white;
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
}

.inner-header {
    height:25vh;
    width:100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px;
    min-height:100px;
    max-height:150px;
}

.content {
    background-color: #ffeef2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Espacement entre les rangées */
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height:40px;
    }
    .content {
        height:30vh;
    }
    h1 {
        font-size:24px;
    }
}

.container {
    display: flex;
    align-items: center;
}
.image {
    width: 50%;
    flex: 0 0 auto;
    margin-right: 20px;
}

.image img {
    max-width: 80%;
    height: auto;
}
.text {
    flex: 1;
}

.spots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
}

h2 {
    text-align: center;
    font-family: Lato, sans-serif;
}
.ability {
    margin-bottom: 10px; /* Espacement entre chaque compétence */
    background-color: #f8d7da; /* Couleur de fond rouge clair */
    background-image: linear-gradient(to bottom right, #f8d7da, #e69c9b); /* Dégradé rouge clair */
    padding: 10px; /* Espacement interne pour l'arrière-plan */
    border-radius: 5px; /* Ajoute des coins arrondis */
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 10px; /* Espacement entre l'icône et le texte */
    width: 50px; /* Largeur de l'icône */
    height: 50px; /* Hauteur de l'icône */
}

.ability-details {
    flex: 1; /* Le texte prend tout l'espace disponible */
    margin-left: 10px; /* Espacement entre l'icône et le texte */
}

.ability-name {
    font-weight: bold; /* Titre de la compétence */
    margin-bottom: 5px; /* Espacement entre le titre et la description */
}

.search-form {
    width: 30%;
}

.search-input::placeholder  {
    opacity: 0.5;
    color: white;
}

.search-input {
    background-color: rgba(255, 255, 255, 0.5);
    flex: 1;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
}


.search-input:focus {
    outline: none;
    border-color: #007bff;
}