{{define "agents"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agents</title>
    <link rel="stylesheet" href="/static/css/agents.css">
</head>
<body>
<div class="header">
    <div class="inner-header flex">
        <h1>Valorant API</h1>
    </div>
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#ffeef2" />
            </g>
        </svg>
    </div>
</div>

<div class="content flex">
    <div class="filters">
        <select id="filter" name="filter">
            <option value="all" {{if eq .Filter "all"}}selected{{end}}>Tous</option>
            <option value="Initiateur" {{if eq .Filter "Initiateur"}}selected{{end}}>Initiateur</option>
            <option value="Duelliste" {{if eq .Filter "Duelliste"}}selected{{end}}>Duelliste</option>
            <option value="Sentinelle" {{if eq .Filter "Sentinelle"}}selected{{end}}>Sentinelle</option>
            <option value="Contrôleur" {{if eq .Filter "Contrôleur"}}selected{{end}}>Contrôleur</option>
        </select>
    </div>

    {{range $group := .Agents}}
    <div class="row">
        {{range $agent := $group}}
        <a href="/agent?name={{$agent.DisplayName}}" class="square-link">
            <span class="text">{{$agent.DisplayName}}</span>
            <img src="{{$agent.DisplayIcon}}" alt="{{$agent.DisplayName}}">
        </a>
        {{end}}
    </div>
    {{end}}
</div>

<script>
    document.getElementById('filter').addEventListener('change', function() {
        window.location.href = '/agents?filter=' + this.value;
    });
</script>

</body>
</html>
{{end}}
