{{define "map"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Map.DisplayName}}</title>
    <link rel="stylesheet" href="/static/css/map.css">
</head>
<body>
<div class="header">

    <div class="inner-header flex">
        <h1>Valorant API</h1>
    </div>

    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#ffeef2" />
            </g>
        </svg>
    </div>

</div>

<div class="container">
    <div class="image">
        <img src="{{.Map.DisplayIcon}}" alt="{{.Map.DisplayName}}">
    </div>
    <div class="text">
        <div class="name">
            <h1>{{.Map.DisplayName}}</h1>
            {{if .IsFavorite}}
            <a href="/delfav?type=map&key={{.Map.DisplayName}}&id={{.Map.UUID}}"><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/star--v1.png" alt="star--v1"/></a>
            {{else}}
            <a href="/addfav?type=map&key={{.Map.DisplayName}}&id={{.Map.UUID}}"><img width="50" height="50" src="https://img.icons8.com/ios/50/star--v1.png" alt="star--v1"/></a>
            {{end}}
        </div>
        <p>{{.Map.NarrativeDescription}}</p>
        <p><strong>Coordonnées :</strong> {{.Map.Coordinates}}</p>
        <p><strong>Description Tactique :</strong> {{.Map.TacticalDescription}}</p>
    </div>
</div>

<h2>Points d'intérêt</h2>

<div class="spots">
    <ul>
        {{range .Map.Callouts}}
        <div class="spot">
            <strong > {{.RegionName}} </strong>({{.SuperRegionName}}) | X : {{.Location.X}}, Y : {{.Location.Y}}
        </div>
        {{end}}
    </ul>
</div>
</body>
</html>
{{end}}
