{{define "weapon"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arme</title>
    <link rel="stylesheet" href="/static/css/weapon.css">
</head>
<body>
<div class="header">

    <div class="inner-header flex">
        <h1>Valorant API</h1>
    </div>

    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#ffeef2" />
            </g>
        </svg>
    </div>

</div>

<div class="container">
    <div class="image">
        <img src="{{.Weapon.DisplayIcon}}" alt="{{.Weapon.DisplayName}}">
    </div>
    <div class="text">
        <h1>{{.Weapon.DisplayName}}</h1>
        <p>Prix : {{.Weapon.ShopData.Cost}}</p>
        <p>Cadence de tir : {{.Weapon.WeaponStats.FireRate}}</p>
        <p>Temps de rechargement : {{.Weapon.WeaponStats.ReloadTimeSeconds}}</p>
        <p>Capacité du chargeur : {{.Weapon.WeaponStats.MagazineSize}}</p>
        <div class="damages">
            {{range .Weapon.WeaponStats.DamageRanges}}
            <p>Portée : {{.RangeStartMeters }} - {{.RangeEndMeters }}</p>
            <p>Dégats à la tête : {{.HeadDamage}}</p>
            <p>Dégats au corps : {{.BodyDamage}}</p>
            <p>Dégats aux jambes : {{.LegDamage}}</p>
            {{end}}
        </div>
    </div>
</div>

<h2>Skins</h2>

<div class="skin-container">
{{range .Skins}}
    <a href="/skin?id={{.UUID}}" class="spots">
        <img src="{{.DisplayIcon}}" alt="{{.DisplayName}}">
        <p>{{.DisplayName}}</p>
    </a>
{{end}}
</div>

<div class="pagination">
    {{if gt .Page 1}}
    <a href="/weapon?name={{.Weapon.DisplayName}}&page={{sub .Page 1}}">Page précédente</a>
    {{end}}

    <span>{{.Page}}/{{.TotalPages}}</span>

    {{if lt .Page .TotalPages}}
    <a href="/weapon?name={{.Weapon.DisplayName}}&page={{add .Page 1}}">Page suivante</a>
    {{end}}
</div>
</body>
</html>
{{end}}